<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
</head>
<body>
    <h2>Employee Information</h2>
    <form action = "/saveCSK" method="post">
    <table>
        <tr><td>PLAYERNAME</td><td><input type="text" name="name"></td></tr>
        <tr><td>ID</td><td><input type="number" name="id"></td></tr>
        <tr><td>Price</td><td><input type="number" name="price"></td></tr>
        <tr><td>City</td><td><input type="text" name="city"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
    </form>
</body>
</html>