<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
</head>
<body>
    <h2>Employee Information</h2>
    <form action = "/savedetails" method="post">
    <table>
        <tr><td>Username</td><td><input type="text" name="name"></td></tr>
        <tr><td>Password</td><td><input type="password" name="psd"></td></tr>
        <tr><td>ConformPassword</td><td><input type="password" name="repass"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
    </form>
</body>
</html>